//-
	Rule the words! KKuTu Online
	Copyright (C) 2017 JJoriping(op@jjo.kr)

	This program is free software: you can redistribute it and/or modify
	it under the terms of the GNU General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.

	This program is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU General Public License for more details.

	You should have received a copy of the GNU General Public License
	along with this program. If not, see <http://www.gnu.org/licenses/>.
extends layout

block Subject
	title= L('title')

block CSS
	link(rel='stylesheet', href='/css/in_game_kkutu.css')


block Middle
	+separator(5)
	div(style='float: left; width: 100%;margin:0px 0px')
		div(style='float: left; padding-left: 400px;margin-top:10px;margin-bottom:20px;')
			img#logo(src='/img/kkutu/short_logo.png')
		//-
			div#menu-bar(style='float: right; margin-top: 25px;')
			div#menu-bar(style='float: right; margin-top: 25px;')
			a(target='_blank', href='//discord.gg/hXfzwTh', style='background-color: #4A00E0;')= L('discord')
			a(target='_blank', href='//goo.gl/forms/DgWYtCaBwOG5ybSB2', style='background-color: #2B32B2;')= L('gmlet')
		div.jjoriping(style='margin-top:40px;')
				button#game-start.jjo-display(style='margin-top:180px')= L('gameStart')
		//-
			div#notice-box(style='float: right;width:px;margin-left:10px;padding:2px 0px;margin-top:-50px;background-color: #4A00E0;')
			div.notice-box
				h3.notice-title
					label=L('noticetitle')
		div#notice-box(style='float: right; width: 1010px;margin-top:-288px;margin-left:10px;background-color: rgba(0,0,0,0.4);')
			iframe#kkutu-main-notice(width='100%', height='170px', src='/kkutu_main_notice.html')
	//-	
		#slide
			input#pos1(type='radio', name='pos' ,checked='')
			input#pos2(type='radio', name='pos')
			input#pos3(type='radio', name='pos')
			input#pos4(type='radio' ,name='pos')
			ul
				li
				li
				li
				li
			p.pos
				label(for='pos1')
				label(for='pos2')
				label(for='pos3')
				label(for='pos4')

	div(style='float: left; margin-bottom:40px;margin-top:20px;')
		div.server-list-box
			h3.server-list-title
				a#server-refresh
					+FA('refresh')
					+Expl(L('serverRefresh'))
				label= L('serverList')
				label#server-total(style='color: #AAA; font-size: 15px')
			div#server-list
	div#discord-box(style='float: left;width: 325px;height:50px;margin-right:1000px;margin-top:-20px;background-color: #4A00E0;')
		div.discord-box
			h3.discord-title
				a(target='_blank', href='//discord.gg/hXfzwTh', style='padding:20px 100px')= L('discord')
	div#discord-box(style='float: left;width: 325px;height:50px;margin-top:20px;background-color: #4A00E0;')
	//-
		div.discord-box
			h3.discord-title
				a(target='_blank', href='//goo.gl/forms/DgWYtCaBwOG5ybSB2', style='padding:20px 100px')= L('gmlet')

	div#update-box(style='float: right;width: 670px;margin-left:20px;padding:2px 0px;margin-top:-308px;background-color: #4A00E0;')
		div.update-box
			h3.update-title
				label=L('updatetitle')
	div(style='float: right;width:670px;margin-left:20px;margin-top:-286px;background-color: rgba(0,0,0,0.4);')
		iframe#kkutu-bulletin(width='100%', height='400px', src='/kkutu_bulletin.html')
	//-
		div#notice-box(style='float: right;width: 325px  ;margin-left:10px;padding:2px 0px;margin-top:-50px;background-color: #4A00E0;')
		div.notice-box
			h3.notice-title
				label=L('noticetitle')
		div(style='float: right; width: 325px;margin-top:-28px;margin-left:10px;background-color: rgba(0,0,0,0.4);')
		iframe#kkutu-main-notice(width='100%', height='400px', src='/kkutu_main_notice.html')
	
	
	+separator(10)

block Bottom
	div.bottom-legal!= L('dictionarySupport')
